data
results/*-alts.dat
!results/20200511-alts.dat
results/*count.dat
!results/20200511-20200511count.dat
results/betterhisto/*
!results/betterhisto/20200511.*
!results/betterhisto/graph.gnuplot
!results/betterhisto/Makefile
results/altdist/*
!results/altdist/20200511.*
!results/altdist/altdistro.gnuplot
!results/altdist/Makefile
results/*.kml
!results/20200511.kml
scripts/foo.pl
scripts/bar.pl
scripts/airport-hash-demo.pl
